body{
        background-color: #484848;
        color:#fff;
        font-family:arial;
        text-align:center;
        text-shadow:#000 0 0 3px;
        }

img{
        border:0;
        }

table.reg{
	width:600px;
        margin:40px 0 0 90px;
        }

div.copy{
	color:#ccc;
        font-size:12px;
        font-family:arial;
        text-align:center;
    font-weight: bold;
        }

div.errors{
	color:#fff;
        font-family:arial;
        font-size:12px;
        font-weight:bold;
        text-align:center;
        }

table.form{
	width:100%;
        color:#fff;
        margin:15px 0;
        font-family:arial;
        border-spacing: 5px;
        font-size:16px;
        }

table.form{
        width:100%;
        color:#fff;
        margin:15px 0;
       	font-family:arial;
        border-spacing: 5px;
        font-size:16px;
        }

input, select{
        width:200px;
        padding:3px;
       	background-color:#f7f7f7;
        color:#454545;
        border:0;
        font-size:14px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 3px #000;
        -moz-box-shadow: 0px 0px 3px #000;
        -webkit-box-shadow: 0px 0px 3px #000;
        }

input:focus, select:focus{
        box-shadow: 0px 0px 3px #fff;
        -moz-box-shadow: 0px 0px 3px #fff;
        -webkit-box-shadow: 0px 0px 3px #fff;
        color:#1b1b1b;
        }

input.sbm{
        width:auto;
        padding:3px 15px;
        background-color: #3d8bff;
        color:#dfdfdf;
        border:0;
        font-size:14px;
        -moz-border-radius: 0px;
        margin-top:30px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        box-shadow: 0px 0px 1px #ccc;
        -moz-box-shadow: 0px 0px 1px #ccc;
        -webkit-box-shadow: 0px 0px 1px #ccc;
        }

input.sbm:hover{
        box-shadow: 0px 0px 3px #fff;
        -moz-box-shadow: 0px 0px 3px #fff;
        -webkit-box-shadow: 0px 0px 3px #fff;
        color:#fff;
        background-color: #3d8bff;
        }

a:link {color:#ccc;}
a:visited {color:#ccc;}
a:hover {color:#ccc;}
a:active {color:#ccc;}
